.Calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgb(30, 30, 30);
    -webkit-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.5);

    .Visor {
        width: calc(100% - 30px);
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 15px;
        font-size: xx-large;
        color: white;
        cursor: default;
    }

    .Keypad {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 4px;
        margin: 4px;
        height: 100%;

        .Key {
            background-color: rgb(69, 69, 69);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            font-size: large;
        }

        .Equals {
            background-color: rgb(106, 188, 255);
            color: black;
        }

        .Blank {
            cursor: default;
        }
    }
}
